flask
flask-cors
requests
python-dotenv
google-genai
ffmpeg-python
imageio-ffmpeg
soundfile
fastapi
uvicorn[standard]
openai-whisper
librosa
scipy
numpy
sentence-transformers
torch
torchaudio
python-multipart
nltk
